[submodule "ForwarderBackend"]
	path = ForwarderBackend
	url = git@github.com:lashnag/forwarder-backend.git
[submodule "SenderApi"]
	path = SenderApi
	url = git@github.com:lashnag/python-mtproto-with-server.git
